In [1]:
%doctest_mode

Exception reporting mode: Plain
Doctest mode is: ON

In [3]:
!pip install nsepy

Collecting nsepy
  Downloading nsepy-0.8.tar.gz (33 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from nsepy) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.3.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nsepy) (7.1.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.2.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2022.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2.10)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py) ... done
  Created wheel for nsepy: filename=nsepy-0.8-py3-none-any.whl size=36084 sha256=46bd0c36cd3476e7e1ed41396be264722a9919456d5b3cf9eda955dbdf3b5b6f
  Stored in directory: /root/.cache/pip/wheels/32/ab/d9/78ceea14cdf6de83376082b3cb0c2999fd77f823e35c47b9ec
Successfully built nsepy
Installing collected packages: nsepy
Successfully installed nsepy-0.8

In [5]:
from nsepy import get_history
from datetime import date
import pandas as pd
from nsepy.derivatives import get_expiry_date

In [6]:
expiry = get_expiry_date(year=2015, month=12)
expiry

{datetime.date(2015, 12, 18), datetime.date(2015, 12, 31)}

# scraping TCS stock data

In [7]:
tcs = get_history(symbol='TCS', start= date(2015,1,1), end= date(2015,12,31))

In [8]:
tcs

           Symbol Series  Prev Close     Open     High      Low     Last  \
Date
2015-01-01    TCS     EQ     2558.25  2567.00  2567.00  2541.00  2550.00
2015-01-02    TCS     EQ     2545.55  2551.00  2590.95  2550.60  2588.40
2015-01-05    TCS     EQ     2579.45  2581.00  2599.90  2524.65  2538.10
2015-01-06    TCS     EQ     2540.25  2529.10  2529.10  2440.00  2450.05
2015-01-07    TCS     EQ     2446.60  2470.00  2479.15  2407.45  2426.90
...           ...    ...         ...      ...      ...      ...      ...
2015-12-24    TCS     EQ     2425.80  2421.00  2438.20  2404.00  2435.00
2015-12-28    TCS     EQ     2434.25  2428.00  2466.40  2420.20  2456.95
2015-12-29    TCS     EQ     2462.70  2458.35  2465.30  2445.75  2449.35
2015-12-30    TCS     EQ     2455.80  2453.05  2459.00  2412.30  2421.70
2015-12-31    TCS     EQ     2418.30  2415.75  2448.50  2407.50  2430.00

              Close     VWAP   Volume      Turnover  Trades  \
Date
2015-01-01  2545.55  2548.51   183415  4.674345e+13    8002
2015-01-02  2579.45  2568.19   462870  1.188740e+14   27585
2015-01-05  2540.25  2563.94   877121  2.248886e+14   43234
2015-01-06  2446.60  2466.90  1211892  2.989615e+14   84503
2015-01-07  2417.70  2433.96  1318166  3.208362e+14  101741
...             ...      ...      ...           ...     ...
2015-12-24  2434.25  2424.03   421580  1.021924e+14   21932
2015-12-28  2462.70  2455.00  1852099  4.546896e+14   43390
2015-12-29  2455.80  2452.26   854262  2.094875e+14   26975
2015-12-30  2418.30  2442.06   802881  1.960682e+14   49464
2015-12-31  2436.85  2428.90   620159  1.506303e+14   42600

            Deliverable Volume  %Deliverble
Date
2015-01-01               52870       0.2883
2015-01-02              309350       0.6683
2015-01-05              456728       0.5207
2015-01-06              714306       0.5894
2015-01-07              886368       0.6724
...                        ...          ...
2015-12-24              188670       0.4475
2015-12-28             1060100       0.5724
2015-12-29              433986       0.5080
2015-12-30              632180       0.7874
2015-12-31              400391       0.6456

[248 rows x 14 columns]

In [9]:
tcs.insert(0,'Date', pd.to_datetime(tcs.index, format='%Y-%m-%d'))

In [20]:
print(type(tcs.index))
print(type(tcs.Date))
tcs.Date.dt

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.series.Series'>

In [13]:
tcs.to_csv('tcs_stock.csv', encoding='utf-8',index=False)

# scraping INFY stock data

In [14]:
infy = get_history(symbol='INFY', start=date(2015,1,1), end=date(2015,12,31))

In [17]:
infy

           Symbol Series  Prev Close     Open     High     Low     Last  \
Date
2015-01-01   INFY     EQ     1972.55  1968.95  1982.00  1956.9  1971.00
2015-01-02   INFY     EQ     1974.40  1972.00  2019.05  1972.0  2017.95
2015-01-05   INFY     EQ     2013.20  2009.90  2030.00  1977.5  1996.00
2015-01-06   INFY     EQ     1995.90  1980.00  1985.00  1934.1  1965.10
2015-01-07   INFY     EQ     1954.20  1965.00  1974.75  1950.0  1966.05
...           ...    ...         ...      ...      ...     ...      ...
2015-12-24   INFY     EQ     1100.85  1102.05  1104.45  1090.1  1095.80
2015-12-28   INFY     EQ     1096.35  1090.00  1110.00  1090.0  1103.80
2015-12-29   INFY     EQ     1104.75  1101.25  1110.00  1097.3  1103.00
2015-12-30   INFY     EQ     1104.70  1101.10  1106.60  1083.0  1088.00
2015-12-31   INFY     EQ     1086.30  1090.15  1109.95  1087.0  1107.00

              Close     VWAP   Volume      Turnover  Trades  \
Date
2015-01-01  1974.40  1971.34   500691  9.870306e+13   14908
2015-01-02  2013.20  2003.25  1694580  3.394669e+14   54166
2015-01-05  1995.90  2004.59  2484256  4.979911e+14   82694
2015-01-06  1954.20  1954.82  2416829  4.724458e+14  108209
2015-01-07  1963.55  1962.59  1812479  3.557162e+14   62463
...             ...      ...      ...           ...     ...
2015-12-24  1096.35  1095.84   615027  6.739696e+13   20528
2015-12-28  1104.75  1105.51  2763476  3.055046e+14   51103
2015-12-29  1104.70  1104.14  1672531  1.846706e+14   52409
2015-12-30  1086.30  1094.45  2576985  2.820380e+14   65379
2015-12-31  1105.40  1102.09  3971969  4.377467e+14   75143

            Deliverable Volume  %Deliverble
Date
2015-01-01              258080       0.5154
2015-01-02             1249104       0.7371
2015-01-05             1830962       0.7370
2015-01-06             1772070       0.7332
2015-01-07             1317720       0.7270
...                        ...          ...
2015-12-24              294731       0.4792
2015-12-28             1880078       0.6803
2015-12-29              967577       0.5785
2015-12-30             1754378       0.6808
2015-12-31             2641827       0.6651

[248 rows x 14 columns]

In [18]:
infy.insert(0,'Date',pd.to_datetime(infy.index, format='%Y-%m-%d'))

In [19]:
print(type(infy.index))
print(type(infy.Date))
infy.Date.dt

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.series.Series'>

In [21]:
infy.to_csv('infy_stock.csv',encoding='utf-8',index=False)

# scraping NIFYIT data

In [27]:
nifty_it = get_history(symbol="NIFTYIT",
                            start=date(2015,1,1),
                            end=date(2015,12,31),
                            index=True)
nifty_it

                Open      High       Low     Close    Volume      Turnover
Date
2015-01-01  11214.80  11235.75  11166.35  11215.70   4246150  3.575100e+09
2015-01-02  11214.65  11399.10  11214.65  11372.10  10004862  9.645600e+09
2015-01-05  11369.35  11433.75  11186.95  11248.55   8858018  1.059000e+10
2015-01-06  11186.10  11186.10  10909.00  10959.90  12515739  1.364500e+10
2015-01-07  11013.20  11042.35  10889.55  10916.00  10976356  1.203440e+10
...              ...       ...       ...       ...       ...           ...
2015-12-24  11193.25  11197.50  11152.85  11184.90   2927864  3.182700e+09
2015-12-28  11152.70  11303.05  11146.85  11271.80   8055590  1.001900e+10
2015-12-29  11257.05  11287.50  11206.60  11253.45   6024174  6.626200e+09
2015-12-30  11247.35  11263.60  11100.10  11117.60   6564991  7.071900e+09
2015-12-31  11113.00  11233.85  11113.00  11212.55   8197040  8.590500e+09

[248 rows x 6 columns]

In [28]:
nifty_it.insert(0, 'Date',  pd.to_datetime(nifty_it.index,format='%Y-%m-%d') )
print(type(nifty_it.index))
print(type(nifty_it.Date))
nifty_it.Date.dt

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.series.Series'>

In [30]:
nifty_it.to_csv('nifty_it_index.csv', encoding='utf-8', index=False)